<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FFA TABLE Example{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <p><a href="/league/a-league"> A League</a></p>
            <p><a href="/league/premier"> Premier League</a></p>
            <p><a href="/league/bundes"> Bundes League </a></p>
        {% endblock %}
    </body>
</html>
